.nav {
  position: fixed;
  bottom: 0;
  width: 100%;

  padding: 20px 40px;
  background-color: #ccad93;
  box-sizing: border-box;
  border-top: 3px solid gray;
}
.nav__ul {
  display: flex;
  justify-content: space-between;
}

.nav__a {
  position: relative;
}

.nav__notification {
  font-weight: bold;
  position: absolute;
  right: -12px;
  top: -20px;
}
.nav__dot {
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  position: absolute;
  left: 30px;
  top: -15px;
}
